fastapi==0.115.0
uvicorn==0.30.6
websockets==12.0
python-multipart==0.0.9
tensorflow==2.15.0
tf-keras==2.15.1
keras==2.15.0
huggingface-hub==0.25.2
transformers>=4.40.0
torch==2.9.1
ultralytics
numpy==1.26.4
pandas==2.1.4
opencv-python-headless==4.9.0.80
nltk==3.8.1
static-ffmpeg==2.5
pydantic==2.6.4
scikit-learn==1.4.2


